.Pagination .css-wjh20t-MuiPagination-ul {
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .Pagination .css-wjh20t-MuiPagination-ul {
    justify-content: left;
    font-size: 3px;
  }
}
